* {
  margin: 0;
}

.twitter-card {
  font-family: Arial, Helvetica, sans-serif;
  font-size: min(3vw, 1.5rem);
  background-color: rgb(21, 32, 43);
  border: 2px solid rgb(56, 68, 77);
  width: 30em;
  color: #ffffff;
}

.user-info {
  position: relative;
}

.user-info * {
  display: inline-block;
}

.user-info .username {
  cursor: pointer;
  position: absolute;
  top: 13px;
  font-size: 1.2em;
}

.user-info .at {
  cursor: pointer;
  position: relative;
  font-size: 0.7em;
  margin-left: 1px;
  padding-top: 0.3em;
}

.profileImg {
  cursor: pointer;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin: 10px;
}

.user-info .profileImg {
  width: 1.7em;
  height: 1.7em;
}

.tweet {
  padding-top: 0.4em;
  margin-left: 12px;
  margin-right: 8px;
}

.tweet-info {
  position: relative;
  top: 8px;
  font-size: 0.65em;
  margin-left: 5px;
  color: rgb(136, 153, 166);
}
.tweet-info span {
  margin-right: 7px;
  margin-left: 7px;
}

.tweet-info .device {
  color: rgb(150, 150, 240);
  cursor: pointer;
  text-decoration: none;
}

.line {
  position: relative;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  border-top: 2px solid rgb(56, 68, 77);
}

.line.full {
  position: relative;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-top: 2px solid rgb(56, 68, 77);
}

.tweet-stats > p {
  display: inline-block;
  padding: 0.7rem;
  font-size: 0.8em;
}

.tweet-stats span {
  color: rgb(85, 99, 110);
}

.share {
  position: relative;
  margin-top: 4px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6px;
}

.share svg {
  cursor: pointer;
  fill: #ffffff;
  height: 0.9em;
  width: 0.9em;
}

.reply {
  position: relative;
}

.replyContent {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.replyInfo {
  color: rgb(85, 99, 110);
  margin-left: 75px;
  font-size: 0.6em;
  margin-top: 8px;
  padding-bottom: 2px;
}

.replyInfo span {
  color: rgb(150, 150, 240);
  cursor: pointer;
}

.reply .profileImg {
  width: 2em;
  height: 2em;
}

.reply .left {
  display: flex;
}

.reply .left h4 {
  padding-top: 0.4em;
  max-width: 18em;
}

.reply .right {
  position: relative;
  margin-right: 6%;
}

.replyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  cursor: pointer;
  color: white;
  background-color: rgb(30, 161, 241);
  border: none;
  font-size: 0.6em;
  padding: 0.7em;
}
